<div class="row">
<div class="col-lg-12">
  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <h4>{{@L.languageandtime}}</h4>

        <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">{{@L.timezone}}</label>
          <div class="col-lg-10"><input type="text" class="form-control" id="timezone" name="timezone"></div>
        </div>

        <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">{{@L.normallanguage}}</label>
          <div class="col-lg-10"><input type="text" class="form-control" id="setlanguage" name="setlanguage"></div>
        </div>

        <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">{{@L.languagepath}}</label>
          <div class="col-lg-10"><input type="text" class="form-control" id="languagepath" name="languagepath"></div>
        </div>

      </fieldset>

      <fieldset>
        <h4>{{@L.paths}}</h4>

        <div class="form-group">
          <label for="textArea" class="col-lg-2 control-label">{{@L.designpath}}</label>
          <div class="col-lg-10"><input type="text" class="form-control" id="designpath" name="designpath"></div>
        </div>

      </fieldset>
    </form>
  </div>
</div>
</div>
