<div class="row">
<div class="col-lg-12">
  <div class="well bs-component">
    <form action="{{@BASE}}/settings/config/edit" method="POST" class="form-horizontal">
      <repeat group="{{ @ini }}" key="{{ @section }}" value="{{ @values }}">
	<input type="hidden" value="{{ @section }}" name="{{ @section }}">
	<repeat group="{{ @values }}" key="{{ @key }}" value="{{ @value }}">
	<check if="{{ @key == 'TZ' }}">
	  <true>
	  <div class="form-group">
	    <label for="input" class="col-lg-2 control-label">{{ @L.timezone }}</label>
	    <div class="col-lg-10">
	    <select class="form-control selectpicker">
	      <option selected="selected">{{ @TZ }}</option>
	      <repeat group="{{ @timezone }}" value="{{ @tz }}">
		<option>{{ @tz.zone }}</option>
	      </repeat>
	    </select>
	    </div>
	  </div>
	  </true>
	</check>
	<check if="{{ @key == 'TITLE' }}">
	  <true>
	  <div class="form-group">
	    <label for="input" class="col-lg-2 control-label">Titel</label>
	    <div class="col-lg-10">
	      <input type="text" name="title" value="{{@TITLE}}" class="form-control">
	    </div>
	  </div>
	  </true>
	</check>
	</repeat>
	<br>
      </repeat>
      <input type="submit" class="btn btn-primary btn-block btn-sm" value="{{ @L.savechanges }}">
    </form>
  </div>
</div>
</div>
