<div class="row">
<div class="col-lg-12">
  <div class="well bs-component">
    <form action="{{@BASE}}/settings/config/edit" method="POST" class="form-horizontal">
      <repeat group="{{ @ini }}" key="{{ @section }}" value="{{ @values }}">
	<input type="hidden" value="{{ @section }}" name="{{ @section }}">
	<repeat group="{{ @values }}" key="{{ @key }}" value="{{ @value }}">
	<div class="form-group">
	  <label for="textArea" class="col-lg-2 control-label">{{ @key }}</label>
	  <div class="col-lg-10"><input type="text" class="form-control" name="{{@section}}[{{@key}}]" value="{{@value}}"></div>
	</div>
	</repeat>
	<br>
      </repeat>
      <input type="submit" class="btn btn-primary btn-block btn-sm" value="{{ @L.savechanges }}">
    </form>
  </div>
</div>
</div>
