<div class="col-lg-4">
<div class="panel panel-default">
  <div class="panel-body">
    <p class="text-right"><a href="{{@BASE}}/folder/new" data-toggle="tooltip" data-placement="bottom" title="{{@L.addfolder}}"><i class="fa fa-plus"></i></a></p>
    <h4>{{ @L.folders }}</h4>
    <div id="treeview1" class=""></div>       
	<ul>
	</ul>
  </div>
</div>
</div>

<div class="col-lg-8">
<div class="panel panel-default">
  <div class="panel-body">
  <p class="text-right"><a href="{{ @BASE }}/password/new"><i class="fa fa-plus"></i></a></p>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ @L.password }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>password123</td>
          <td class="text-right"><a href="{{ @BASE }}/password/edit" style="color:#000;"><i class="fa fa-cog"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
