<div class="col-lg-4">
<div class="panel panel-default">
  <div class="panel-body">
    <p class="text-right"><a href="{{@BASE}}/folder/new"><i class="fa fa-plus"></i></a></p>
    Treeview
  </div>
</div>
</div>

<div class="col-lg-8">
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Passwort</th>
          <th class="text-right"><a href="{{@BASE}}/password/new"><i class="fa fa-plus"></i></a></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>12312312312</td>
          <td>Icons</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
