<!DOCTYPE HTML>
<html>
<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Titel</title>

    <!-- Icon -->
    <link rel="icon" type="image/png" href=""> 

    <!-- Css -->
    <link href="{{@BASE}}/ui/css/style.css" type="text/css" rel="stylesheet">
    <link href="{{@BASE}}/ui/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">

</head>
<body>

  <script type="text/javascript">
  setTimeout(function(){
  $(".droptext").fadeOut();
  }, 5000);
  </script>

  <script type="text/javascript"> 
  $(document).ready(function(){     
    $('[data-toggle="tooltip"]').tooltip();   
  });
  </script>

  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="{{@BASE}}" class="navbar-brand">PADLOCK</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{@BASE}}">{{@L.home}}</a></li>
          <check if="{{@SESSION.user.id}}">
            <true>
             <li><a href="{{@BASE}}settings">{{@L.settings}}</a></li>
            </true>
          </check>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> {{@L.language}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">{{@L.german}}</a></li>
              <li><a href="#">{{@L.english}}</a></li>
            </ul>
          </li>
          <check if="{{ @SESSION.user.id }}">
            <true>
              <li><a href="{{@BASE}}/logout">{{@L.logout}}</a></li>
            </true>
          </check>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 droptext">
      </div>
      <include href="{{@content}}">  
    </div>
  </div>

  <script src="{{@BASE}}/ui/js/jquery.js"></script>
  <script src="{{@BASE}}/ui/js/bootstrap.js"></script>
  <script src="{{@BASE}}/ui/js/dropdown.js"></script>
  <script src="{{@BASE}}/ui/js/collapse.js"></script>
  <script src="{{@BASE}}/ui/js/bootstrap-treeview.js"></script>
  <script src="{{@BASE}}/ui/js/tooltip.js"></script>

  <script  type="text/javascript">
  $(function() {
  
  var defaultData = [

  {
    text: 'Drop1',
    href: '#drop1',
    nodes: [
    {
      text: 'Unterdrop1',
      href: '#unterdrop1'
    }
    ]
  }

  ];

  $('#treeview1').treeview({
    data: defaultData
  });

  </script>

</body>
</html>
