<!DOCTYPE HTML>
<html>
<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{@TITLE}}</title>

    <!-- Icon -->
    <link rel="icon" type="image/png" href="{{@BASE}}/ui/img/icon.png"> 

    <!-- Css -->
    <link href="{{@BASE}}/ui/css/padlock.css" type="text/css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="{{@BASE}}/ui/css/style.css" type="text/css" rel="stylesheet">
    <link href="{{@BASE}}/ui/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="{{@BASE}}/ui/css/ui.easytree.css" type="text/css" rel="stylesheet">
    <link href="{{@BASE}}/ui/css/bootstrap-select.css" type="text/css" rel="stylesheet">

</head>
<body>

  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="{{@BASE}}" class="navbar-brand">{{@TITLE}}</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{@BASE}}/dashboard">{{@L.home}}</a></li>
		  <check if="{{@SESSION.user.superuser}}">
			  <li><a href="{{@BASE}}/settings">{{@L.settings}}</a></li>
		  </check>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> {{@L.language}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{@BASE}}/lang/de">{{@L.german}}</a></li>
              <li><a href="{{@BASE}}/lang/en">{{@L.english}}</a></li>
            </ul>
          </li>
	  <li><a href="{{@BASE}}/logout">{{ @SESSION.user.login}} {{@L.logout}}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <script src="{{@BASE}}/ui/js/jquery.js"></script>
  <script src="{{@BASE}}/ui/js/bootstrap.js"></script>
  <script src="{{@BASE}}/ui/js/jquery.easytree.js"></script>
  <script src="{{@BASE}}/ui/js/jquery.cookie.js"></script>
  <script src="{{@BASE}}/ui/js/bootstrap-confirmation.js"></script>
  <script src="{{@BASE}}/ui/js/bootstrap-select.js"></script>

  <div class="container">
    <div class="row">
      <include href="notifications.html">  

      <include href="{{@content}}">  

    </div>
  </div>

  <script type="text/javascript">
  setTimeout(function(){
	  $(".droptext").fadeOut();
  }, 5000);

  $('[rel="tooltip"]').tooltip();

  $('[data-toggle=confirmation]').confirmation({
    rootSelector: '[data-toggle=confirmation]',
    title: '{{ @L.delete }}',
    btnOkLabel: '{{ @L.yes }}',
    btnCancelLabel: '{{ @L.no }}',
    btnOkClass: 'btn-xs btn-success',
    btnCancelClass: 'btn-xs btn-danger',
    onConfirm: function() {
      deletePw();
    },
  });

  </script>

</body>
</html>
