<a style="float:right;" href="/dashboard" data-dismiss="modal"><i class="fa fa-times"></i></a>
<h3 class="text-left">{{@L.newfolder}}</h3>
<form action="{{@BASE}}/folder/add" method="post">

  <input type="text" name="name" class="form-control" style="color:#000;" placeholder="{{@L.foldername}}">
   <br>
   <select class="form-control selectpicker" multiple-title="{{@L.upperfolder}}" name="parent_id">
    {{ @optionFolders | raw }}
  </select>
  <br><br>
  <button type="submit" class="btn btn-default btn-block">{{@L.addfolder}}</button>

</form>
