<div class="col-lg-3">
<div class="panel panel-default">
  <div class="panel-body folderwrapper">
    <p class="text-right">  
      <a rel="tooltip" class="toggleall" title="{{@L.toggleall}}" data-placement="bottom" style="position:absolute;right:100px;top:25px;cursor:pointer"><i class="fa fa-expand"></i></a>
      <a rel="tooltip" title="{{@L.editfolder}}" data-placement="bottom" style="position:absolute;right:80px;top:25px;cursor:pointer" data-toggle="modal" data-target="#folderform-{{ @folder.id }}"><i class="fa fa-pencil-square-o"></i></a>
      <a id="loadTree" rel="tooltip" title="{{@L.refreshfolder}}" data-placement="bottom" style="position:absolute;right:60px;top:25px;cursor:pointer"><i class="fa fa-refresh"></i></a>
      <a rel="tooltip" title="{{@L.addfolder}}" data-placement="bottom" style="position:absolute;right:40px;top:25px;cursor:pointer;" data-toggle="modal" data-target="#folderform"><i class="fa fa-plus"></i></a>
    </p>
    <h4 class="text-left">{{@L.folders}}</h4>
    <div id="tree">
      {{ @folderTree | raw }}
    </div>
  </div>
</div>
</div>

<div class="col-lg-9">
  <div class="panel panel-default">
    <div class="panel-body">
	  <h4>{{@folder.name}}</h4>
      <p class="text-right"><a style="position:absolute;right:40px;top:25px;cursor:pointer;" rel="tooltip" title="{{@L.addpassword}}" data-placement="bottom" data-toggle="modal" data-target="#passwordform"><i class="fa fa-plus"></i></a></p>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>{{@L.label}}</th>
            <th>{{@L.username}}</th>
            <th>{{@L.password}}</th>
            <th>{{@L.description}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <repeat group="{{ @passwords }}" value="{{ @pw }}">
          <tr>
            <td>{{ @pw.label }}</td>
            <td>{{ @pw.login }}</td>
            <td>{{ @pw.password }}</td>
            <td>{{ @pw.description }}</td>
            <td>
              <a data-toggle="modal" style="cursor:pointer;color:#000;" data-target="#passwordform-{{@pw.id}}" rel="tooltip" title="{{@L.edit}}" data-placement="bottom"><i class="fa fa-pencil-square-o"></i></a>&nbsp;
              <a data-toggle="confirmation" style="cursor:pointer;color:#000;" data-placement="bottom"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
          </repeat>	
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="folderform" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <a style="cursor:pointer;float:right;" data-dismiss="modal"><i class="fa fa-times"></i></a>
        <include href="folderform.html">
      </div>
    </div>
  </div>
</div>

<repeat group="{{ @folderList }}" value="{{ @formFolder }}">
<div class="modal fade" id="folderform-{{ @formFolder.id }}" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <a style="cursor:pointer;float:right;" data-dismiss="modal"><i class="fa fa-times"></i></a>        
        <include href="folderform.html">
      </div>
    </div>
  </div>
</div>
</repeat>

<div class="modal fade" id="passwordform" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"> 
        <a style="cursor:pointer;float:right;" data-dismiss="modal"><i class="fa fa-times"></i></a>
		<include href="passwordform.html">
      </div>
    </div>
  </div>
</div>

<repeat group="{{ @passwords }}" value="{{ @formPassword }}">
<div class="modal fade" id="passwordform-{{@formPassword.id}}" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"> 
        <a style="cursor:pointer;float:right;" data-dismiss="modal"><i class="fa fa-times"></i></a>
        <include href="passwordform.html">
      </div>
    </div>
  </div>
</div>
</repeat>

<script type="text/javascript">
  $.cookie.defaults.path = '{{@BASE}}/';
  function updateTree() {
    $.ajaxSetup ({
      cache: false
    });
    var ajax_load = "<img style='margin-left:35%;' src='{{@BASE}}/ui/img/reload.gif' alt='loading...' />";
    $.removeCookie('padlock_tree');
    $( "#tree" ).html( ajax_load );
    $.ajax({
      url: '{{@BASE}}/api/foldertree',
      type: "GET",
      success: function(data){
	    var elem = $('#tree');
        elem.html( data );
        elem.easytree({
          data: $.cookie('padlock_tree'),
          stateChanged: stateChanged
        });
        console.log( 'Tree was updated' );
      },
      error: function() { console.log('Could not get foldertree'); }
    });
  }
  $('#loadTree').click( updateTree );

  $('[rel="tooltip"]').tooltip();

  $( ".toggleall" ).on( "click", function() {
    if( this.ets ) {
      closeAllNodes();
      this.ets = false;
    } else {
      openAllNodes();
      this.ets = true;
    }
  });

  function stateChanged(nodes, nodesJson) {
    var t = nodes[0].text;
    $.cookie('padlock_tree', nodesJson, { path: '{{@BASE}}/' } );
  }

  var easyTree = $('#tree').easytree({
    data: $.cookie('padlock_tree'),
    stateChanged: stateChanged,
    enableDnd: true
  });

  function openAllNodes() {
    var nodes = easyTree.getAllNodes();
    toggleNodes(nodes, 'open');
    easyTree.rebuildTree(nodes);
  }

  function closeAllNodes() {
    var nodes = easyTree.getAllNodes();
    toggleNodes(nodes, 'close');
    easyTree.rebuildTree(nodes);
  }

  function toggleNodes(nodes, openOrClose){
    var i = 0;
    for (i = 0; i < nodes.length; i++) {
      nodes[i].isExpanded = openOrClose == "open"; // either expand node or don't

      // if has children open/close those as well
      if (nodes[i].children && nodes[i].children.length > 0) {
        toggleNodes(nodes[i].children, openOrClose);
      }
    }
  }

</script>
