<div class="col-lg-3">
<div class="panel panel-default">
  <div class="panel-body folderwrapper">
    <p class="text-right"><a style="position:absolute;right:40px;top:25px;cursor:pointer;" data-toggle="modal" data-target="#folderform"><i class="fa fa-plus"></i></a></p>
    <h4 class="text-left">{{@L.folders}}</h4>
    <div id="tree">
      {{ @folders | raw }}
    </div>
  </div>
</div>
</div>

<div class="col-lg-9">
  <div class="panel panel-default">
    <div class="panel-body">
      <p class="text-right"><a style="position:absolute;right:40px;top:25px;cursor:pointer;" data-toggle="modal" data-target="#passwordform"><i class="fa fa-plus"></i></a></p>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>{{@L.label}}</th>
            <th>{{@L.username}}</th>
            <th>{{@L.password}}</th>
            <th>{{@L.description}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <repeat group="{{ @passwords }}" value="{{ @pw }}">
          <tr>
            <td>{{ @pw.label }}</td>
            <td>{{ @pw.login }}</td>
            <td>{{ @pw.password }}</td>
            <td>{{ @pw.description }}</td>
            <td><a data-toggle="modal" style="cursor:pointer;color:#000;" data-target="#passwordform-{{@pw.id}}"><i class="fa fa-cog"></i></a></td>
          </tr>
          </repeat>	
        </tbody>
      </table>
    </div>
  </div>
</div>

<repeat group="{{ @passwords }}" value="{{ @pw }}">
<div class="modal fade" id="folderform" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <a style="cursor:pointer;float:right;" data-dismiss="modal"><i class="fa fa-times"></i></a>
        <include href="folderform.html">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="passwordform-{{@pw.id}}" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"> 
        <a style="cursor:pointer;float:right;" data-dismiss="modal"><i class="fa fa-times"></i></a>
        <include href="passwordform.html">
      </div>
    </div>
  </div>
</div>
</repeat>
