<div class="col-lg-3">
<div class="panel panel-default">
  <div class="panel-body folderwrapper">
    <p class="text-right">  
      <a rel="tooltip" class="toggleall" title="{{@L.toggleall}}" data-placement="bottom" style="position:absolute;right:100px;top:25px;cursor:pointer"><i class="fa fa-expand"></i></a>
      <a rel="tooltip" title="{{@L.editfolder}}" data-placement="bottom" style="position:absolute;right:80px;top:25px;cursor:pointer" data-toggle="modal" data-target="#folderform-{{ @folder.id }}"><i class="fa fa-pencil-square-o"></i></a>
      <a id="loadTree" rel="tooltip" title="{{@L.refreshfolder}}" data-placement="bottom" style="position:absolute;right:60px;top:25px;cursor:pointer"><i class="fa fa-refresh"></i></a>
      <a rel="tooltip" title="{{@L.addfolder}}" data-placement="bottom" style="position:absolute;right:40px;top:25px;cursor:pointer;" data-toggle="modal" data-target="#folderform"><i class="fa fa-plus"></i></a>
    </p>
    <h4 class="text-left">{{@L.folders}}</h4>
    <div id="tree">
      <img style='margin-left:35%;' src='{{@BASE}}/ui/img/reload.gif' alt='loading...' />
    </div>
  </div>
</div>
</div>

<div class="col-lg-9">
  <div class="panel panel-default">
    <div class="panel-body">
	  <h4>{{@folder.name}}</h4>
      <p class="text-right"><a style="position:absolute;right:40px;top:25px;cursor:pointer;" rel="tooltip" title="{{@L.addpassword}}" data-placement="bottom" data-toggle="modal" data-target="#passwordform"><i class="fa fa-plus"></i></a></p>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>{{@L.label}}</th>
            <th>{{@L.username}}</th>
            <th>{{@L.password}}</th>
            <th>{{@L.description}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <repeat group="{{ @passwords }}" value="{{ @pw }}">
          <tr>
            <td class="col-lg-2">{{ @pw.label }}</td>
            <td class="col-lg-2">{{ @pw.login }}</td>
            <td class="col-lg-2">{{ @pw.password }}</td>
            <td class="col-lg-5">{{ @pw.description }}</td>
            <td class="col-lg-1">
              <a data-toggle="modal" style="cursor:pointer;color:#000;" data-target="#passwordform-{{@pw.id}}" rel="tooltip" title="{{@L.edit}}" data-placement="bottom"><i class="fa fa-pencil-square-o"></i></a>&nbsp;
              <a data-toggle="confirmation" style="cursor:pointer;color:#000;" data-placement="bottom"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
          </repeat>	
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="folderform" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <a style="cursor:pointer;float:right;" data-dismiss="modal"><i class="fa fa-times"></i></a>
        <include href="folderform.html">
      </div>
    </div>
  </div>
</div>

<repeat group="{{ @folderList }}" value="{{ @formFolder }}">
<div class="modal fade" id="folderform-{{ @formFolder.id }}" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <a style="cursor:pointer;float:right;" data-dismiss="modal"><i class="fa fa-times"></i></a>        
        <include href="folderform.html">
      </div>
    </div>
  </div>
</div>
</repeat>

<div class="modal fade" id="passwordform" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"> 
        <a style="cursor:pointer;float:right;" data-dismiss="modal"><i class="fa fa-times"></i></a>
	  <include href="passwordform.html">
      </div>
    </div>
  </div>
</div>

<repeat group="{{ @passwords }}" value="{{ @formPassword }}">
<div class="modal fade" id="passwordform-{{@formPassword.id}}" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body"> 
        <a style="cursor:pointer;float:right;" data-dismiss="modal"><i class="fa fa-times"></i></a>
        <include href="passwordform.html">
      </div>
    </div>
  </div>
</div>
</repeat>

<script type="text/javascript">
$.cookie.defaults.path = '{{@BASE}}/';

function Padlock() {
	var self = this;
	var oldStates = '';
	var toggleStatus = false;
	var easytree;
	this.rereadTree = function() {
		var elem = $('#tree');
		this.easytree = elem.easytree({
			data: sessionStorage.getItem( 'padlock_tree' ),
			enableDnd: true,
			stateChanged: self.stateChanged
		});
	};
	this.updateTree = function() {
		$.ajaxSetup ({
			cache: false
		});
		var ajax_load = '<img style="margin-left:35%;" src="{{@BASE}}/ui/img/reload.gif" alt="loading..." />';
		this.oldStates = sessionStorage.getItem( 'padlock_tree' );
		sessionStorage.setItem( 'padlock_tree', '' );
		$( '#tree' ).html( ajax_load );
		$.ajax({
			url: '{{@BASE}}/api/foldertree',
			type: 'GET',
			success: self.updateTreeSuccess,
			error: function() { console.log('Could not get foldertree'); }
		});
	};
	this.updateTreeSuccess = function( data ) {
		var elem = $('#tree');
		elem.html( data );
		self.rereadTree();
		if( self.oldStates.trim() != '' ) {
			sessionStorage.setItem( 'padlock_tree', JSON.stringify( self.restoreOldStates( JSON.parse( sessionStorage.getItem( 'padlock_tree' ) ), JSON.parse( self.oldStates ) <?php if( isset( $f3->get( 'PARAMS.id' ) ) ) echo ', '.$PARAMS['id']; ?> ) ) );
			self.rereadTree();
		}
	};
	this.restoreOldStates = function( cur, old, active=0 ) {
		for( var i = 0; i < cur.length; i++ ) {
			if( self.getMatch( cur[i].href, old ) ) {
				cur[i].isExpanded = true;
			}
			if( cur[i].children ) {
				cur[i].children = self.restoreOldStates( cur[i].children, old );
			}
		}
		return cur;
	};
	this.getMatch = function( href, old ) {
		for( var j =0; j<old.length; j++ ) {
			if( old[j].href == href ) {
				return (old[j].isExpanded?true:false);
			}
			if( old[j].children ) {
				var a = self.getMatch( href, old[j].children );
				if( a == true ) return true;
			}
		}
		return false;
	};
	this.stateChanged = function stateChanged( nodes, nodesJson ) {
		sessionStorage.setItem( 'padlock_tree', nodesJson );
	};
	this.openAllNodes = function() {
		var nodes = easyTree.getAllNodes();
		toggleNodes(nodes, 'open');
		easyTree.rebuildTree(nodes);
	};

	this.closeAllNodes = function() {
		var nodes = easyTree.getAllNodes();
		toggleNodes(nodes, 'close');
		easyTree.rebuildTree(nodes);
	};
	this.toggleNodes = function toggleNodes( nodes, open ){
		for( var i = 0; i < nodes.length; i++ ) {
			nodes[i].isExpanded = open;
			if( nodes[i].children && nodes[i].children.length > 0 )
				self.toggleNodes( nodes[i].children, open );
		}
	};
	this.init = function() {
		$('#loadTree').click( self.updateTree );
		$( '.toggleall' ).on( 'click', function() {
			var nodes = self.easytree.getAllNodes();
			nodes = self.toggleNodes( nodes, self.toggleStatus==true ? false : true );
			self.toggleStatus = self.toggleStatus==true ? false : true;
			self.easytree.rebuildTree( nodes );
		});

		<check if="{{@SESSION.treeUpdateTrigger == 'true'}}">
			<true>var treeUpdateTrigger = true;</true>
			<false>var treeUpdateTrigger = false; </false>
		</check>
		
		if( sessionStorage.getItem( 'padlock_tree' ).trim() == '' || sessionStorage.getItem( 'padlock_tree' ) == null || treeUpdateTrigger ) {
			console.log( 'updatetree completely');
			this.updateTree();
		} else {
			console.log( 'refresh from cookie');
			this.rereadTree();
		}
	};
};
var app = new Padlock();
app.init();
</script>
