<check if="{{@SORTPERM == 'role'}}">
<true>

<table class="table table-striped table-hover">
  <thead>
    <th class="col-lg-2">{{@L.roles}}</th>
    <th class="col-lg-7">{{@L.folders}}</th>
    <th class="col-lg-1">{{@L.read}}</th>
    <th class="col-lg-1">{{@L.write}}</th>
    <th class="col-lg-1"></th>
  </thead>
  <tbody>

  <repeat group="{{@permissions}}" value="{{@permission}}">
  <tr>
    <td rowspan="{{count(@permission.perms)+1}}">{{@permission.role_name}}</td>
  </tr>
  <repeat group="{{@permission.perms}}" value="{{@cF}}">
  <tr>
    <td>{{@cF.name}}</td>
    <td>
      <check if="{{@cF.perm > 0}}">
	<true>
	  <span class="fa fa-check"></span>
	</true>
	<false>
	  <span class="fa fa-ban"></span>
	</false>
      </check>
    </td>
    <check if="{{@cF.perm > 1}}">
    <true>
    <td class="text-center">
      <span class="fa fa-check"></span>
    </td>
    </true>
    <false>
    <td class="text-center">
      <span class="fa fa-ban"></span>
    </td>
    </false>
    </check>
    <td align="right">
      <a data-target="#deleteperm-{{ @permission.role_id }}-{{@cF.id}}" data-toggle="modal" class="nav-link btn btn-sm btn-danger" rel="tooltip" title="{{@L.delete}}" data-placement="bottom"><i class="fa fa-trash-o"></i></a>
    </td>
  </tr>
  </repeat>
  </repeat>

  </tbody>
</table>

</true>
<false>


<table class="table table-striped table-hover">
  <thead>
    <th class="col-lg-2">{{@L.folders}}</th>
    <th class="col-lg-7">{{@L.roles}}</th>
    <th class="col-lg-1">{{@L.read}}</th>
    <th class="col-lg-1">{{@L.write}}</th>
    <th class="col-lg-1"></th>
  </thead>
  <tbody>

  <repeat group="{{@permfolder}}" value="{{@perm}}">
  <tr>
    <td rowspan="{{count(@perm.perms)+1}}">{{@perm.folder_name}}</td>
  </tr>
  <repeat group="{{@perm.perms}}" value="{{@cF}}">
  <tr>
    <td>{{@cF.name}}</td>
    <td>
      <check if="{{@cF.perm > 0}}">
	<true>
	  <span class="fa fa-check"></span>
	</true>
	<false>
	  <span class="fa fa-ban"></span>
	</false>
      </check>
    </td>
    <check if="{{@cF.perm > 1}}">
    <true>
    <td class="text-center">
      <span class="fa fa-check"></span>
    </td>
    </true>
    <false>
    <td class="text-center">
      <span class="fa fa-ban"></span>
    </td>
    </false>
    </check>
    <td align="right">
      <a data-target="#deleteperm-{{ @perm.folder_id }}-{{@cF.id}}" data-toggle="modal" class="nav-link btn btn-sm btn-danger" rel="tooltip" title="{{@L.delete}}" data-placement="bottom"><i class="fa fa-trash-o"></i></a>
    </td>
  </tr>
  </repeat>
  </repeat>

  </tbody>
</table>


</false>
</check>
