<div class="col-lg-12">
 <div class="panel panel-default">
   <div class="panel-body">
     <h4>{{ @L.settings }}</h4>
     <br>
     <ul class="nav nav-tabs">
	 	<li class="<?php echo ($section=="config.html"?"active":"");?>" ><a href="{{@BASE}}/settings/config">{{@L.settings}}</a></li>
        <li class="<?php echo ($section=="users.html"?"active":"");?>"><a href="{{@BASE}}/settings/users">{{@L.users}}</a></li>
        <li class="<?php echo ($section=="roles.html"?"active":"");?>"><a href="{{@BASE}}/settings/roles">{{@L.roles}}</a></li>
        <li class="<?php echo ($section=="permissions.html"?"active":"");?>"><a href="{{@BASE}}/settings/permissions">{{@L.permissions}}</a></li>
     </ul>

      <div class="">
        <include href="{{@section}}">
      </div>
   </div>
 </div>
</div>
