<h3 class="text-left">
	<check if="{{@formUser.id}}">
		<true>
			{{@L.edituser}}
		</true>
		<false>
			{{@L.newuser}}
		</false>
	</check>
</h3>
	<check if="{{@formUser.id}}">
		<true>
			<form action="{{@BASE}}/settings/user/edit/{{@formUser.id}}" method="post">
			<input type="hidden" name="id" value="{{@formUser.id}}">
		</true>
		<false>
			<form action="{{@BASE}}/settings/user/add" method="post">
		</false>
	</check>
  <label class="control-label">{{@L.username}}:</label>
  <input type="text" name="login" class="form-control" value="{{@formUser.login}}" placeholder="{{@L.username}}">
  <br>
  <label class="control-label">{{@L.name}}:</label>
  <input type="text" name="name" class="form-control" value="{{@formUser.name}}" placeholder="{{@L.name}}">
  <br>
  <label class="control-label">{{@L.password}}:</label>
  <input type="password" name="newpassword" class="form-control" value="" placeholder="{{@L.password}}">
  <br>
  <label class="control-label">{{@L.email}}:</label>
  <input type="email" name="email" class="form-control" value="{{@formUser.email}}" placeholder="{{@L.email}}">
  <br>
  <label class="control-label">{{@L.undergroup}}:</label>
  <select class="form-control selectpicker" multiple data-toggle="dropdown" data-live-search="true" data-size="15" name="newroles[]">
  <repeat group="{{@allRoles}}" value="{{@curRole}}">
  	<check if="in_array( {{@curRole.id}}, array_column( {{@formUser.roles}}, 'id' ) )">
		<true>
			<option value="{{@curRole.id}}" selected="selected">{{@curRole.name}}</option>
		</true>
		<false>
			<option value="{{@curRole.id}}">{{@curRole.name}}</option>			
		</false>
	</check>
  </repeat>
  </select>
  <br><br>
  <label class="control-label">{{@L.adminrights}}:</label>
      <select class="form-control selectpicker" name="superuser">
	  <check if="{{@formUser.superuser}}">
		  <true>
			  <option value="no">{{@L.no}}</option>
			  <option value="yes" selected="selected">{{@L.yes}}</option>
		  </true>
		  <false>
			  <option value="no" selected="selected">{{@L.no}}</option>
			  <option value="yes">{{@L.yes}}</option>
		  </false>
	  </check>
      </select>
  <br><br>
  <button type="submit" class="btn btn-default btn-block">
	<check if="{{@formUser.id}}">
		<true>
			{{@L.edituser}}
		</true>
		<false>
			{{@L.newuser}}
		</false>
	</check>
  </button>
</form>
